body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#profile-button {
    position: absolute;
    top: 20px;
    left: 20px;    
}