
#profile-button {
    position: absolute;
    top: 20px;
    left: 20px;    
    padding: 0;
    border: none;
    border-radius: 50%;
    background: none;
    cursor: pointer;
}

.home-profile-button .player-picture {
    display: block;
}