.vote-table tr {
    display: flex;
    align-items: center;
}

.vote-table td:first-child {
    margin-left: 40px;
}

.vote-table td:nth-child(2) {
    margin-left: 30px;
    text-align: left;
}

.vote-table td:nth-child(3) {
    margin-left: auto;
    margin-right: 40px;
}

.vote-subtitle {
    color: var(--imposter-red-txt);
}

.vote-header {
    color: #bdbdbd;
}

.vote-button {
    font-size: 20px;
    padding: 6px 24px;
}