<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Imposter</title>
        <link rel="stylesheet" href={{ url_for('static', filename='css/game.css')}}>
    </head>
    <body>
        <h1>Whose the Imposter?</h1>
        {% if is_imposter %}
            <p>You are the imposter</p>
        {% else %}
            <p>Your word is:</p>
            <p>{{word}}</p>
        {% endif %}
        <button id="vote-button">Vote</button>
        <script src={{ url_for('static', filename='js/buttons.js')}}></script>
    </body>
</html>