<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Imposter/lobby</title>
        <link rel="stylesheet" href={{ url_for('static', filename='css/lobby.css')}}>
    </head>
    <body>
        <h1>Imposter</h1>
        <table id="lobby-player-list">
            <thead>
                <tr>
                    <th>profile picture</th>
                    <th>players</th>
                </tr>
            </thead>
            <tbody id="player-list">
                {% for player in players %}
                    <tr>
                        <td><img src={{ player.user.picture }} alt="Profile Picture"></td>
                        <td>{{ player.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <button id="start-button">Start Game</button>
        <script>
            const ROOM_ID = "{{ room.id }}";
        </script>
        <script src={{ url_for('static', filename='js/lobby.js')}}></script>
        <script src={{ url_for('static', filename='js/buttons.js')}}></script>
    </body>
</html>