<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Imposter/user-profile</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css')}}">
    </head>
    <body>
        <main class="page-content profile-content">
            <button id="profile-back-button">
                <img src="{{ url_for('static', filename='images/Transparent_X.png') }}" alt="Back Icon">
            </button>
            <img src="{{ user.picture }}" alt="{{ user.name }}'s Profile Picture" id="profile-picture" class="profile-picture">
            <p class="section-subtitle profile-subtitle">Player Profile</p>
            <table id="profile-info" class="profile-table">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td>{{ user.name }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th>Games Played</th>
                        <td>{{ user.games_played }}</td>
                    </tr>
                    <tr>
                        <th>Games Won</th>
                        <td>{{ user.games_won }}</td>
                    </tr>
                </tbody>
            </table>
        </main>
        <script src="{{ url_for('static', filename='js/buttons.js')}}"></script>
    </body>
</html>