<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Imposter/signin</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/sign_in.css')}}">
    </head>
    <body>
        <div class="mask-silhouette signin-mask">
            <span class="mask-image mask-left" ></span>
            <span class="mask-image mask-right"></span>
        </div>
        <div class="normal-person-group">
            <span class="person-silhouette normal-person"></span>
            <span class="person-silhouette normal-person"></span>
        </div>
        <span class="person-silhouette imposter-silhouette"></span>
        <main class="page-content signin-content">
        <h1 class="game-title">Imposter</h1>
        <p class="section-subtitle signin-subtitle">Can you fool your friends?</p>
        <p class="body-text signin-description">
            Everyone gets the secret word except one person. say obscure accurate words, 
            listen carefully, and blend in with the group. Find the Imposter before 
            they fool everyone and escape the vote.
        </p>
        <button id="login-button" class="primary-button">Sign in to Play</button>
        <p class="caption signin-caption">Trust No one...</p>
        </main>
        <script src="{{ url_for('static', filename='js/buttons.js')}}"></script>
    </body>
</html>