<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Imposter/vote</title>
        <link rel="stylesheet" href={{ url_for('static', filename='css/vote.css')}}>
    </head>
    <body>
        <h1>Who's the Imposter?</h1>
        <table>
            <thead>
                <tr>
                    <th>profile picture</th>
                    <th>players</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="vote-list">
                {% for player in players %}
                    <tr>
                        <td><img src={{ player.user.picture }} alt="Profile Picture"></td>
                        <td>{{ player.name }}</td>
                        <td><button class="vote-button" data-player-id="{{ player.id }}">Vote</button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <button id="skip-button">Vote to Skip</button>
        <p id="vote-status"></p>
        <script>const ROUND_ID = "{{ round.id }}";</script>
        <script src={{ url_for('static', filename='js/vote.js')}}></script>
    </body>
</html>
